@mixin border-bottom {
  border-bottom: 1px solid $pstr-dark-gray;

  @media (prefers-color-scheme: light) {
    border-color: $pstr-light-gray;
  }
}

@mixin post-container {
  .post-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 1rem;
    border: 1px solid $pstr-dark-gray;
    border-radius: 1rem;

    @media (prefers-color-scheme: light) {
      border-color: $pstr-light-gray;
    }
  }
}
